@import "../../assets/stylesheet/default.scss";

.about-us-wrap {
	margin-top: 20px;

	.branch-infor {
		.content {
			margin-left: 20px;
			.branchs {
				li {
					a {
						text-decoration: none;
						font-weight: bold;
						color: $main-color;
						&:hover {
							color: $sub-main-color;
						}
					}
				}
			}
		}
	}
}
