@import "../../assets/stylesheet/default.scss";

.header {
  height: 52px;
  background-color: #fff;
  .navbar {
    .navbar-brand {
      color: #c20a0a;
      font-size: 1.7rem !important;
      font-weight: 600;
    }
    .navbar-nav {
      display: flex;
      flex-direction: row;
      .btn {
        margin-right: 15px;
        font-weight: 600;
      }
      .nav-item {
        .nav-link:hover,
        .nav-link.active {
          background-color: #c20a0a;
          color: white;
          box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
          border-radius: 0.2rem !important;
        }
      }
    }
    a {
      font-size: 1.2rem;
      font-weight: 500;
      color: #c20a0a;
      font-weight: bold;
    }
    .dropdown-item:active {
      background-color: #c20a0a;
    }
  }
}
