@import "../../assets/stylesheet/default.scss";

.header{
    height: 52px;
    .navbar{
        .navbar-brand {
            color: #C20A0A;
            font-size: 1.7rem !important;
            font-weight: 600;
          }
        .navbar-nav{
            display: flex;
            flex-direction: row;
            .btn{
                margin-right: 15px;
                font-weight: 600;
            }
        }
    }
}